@font-face {
  font-family: "iconfont"; /* Project id 4211906 */
  src: url('iconfont.woff2?t=1692692386316') format('woff2'),
       url('iconfont.woff?t=1692692386316') format('woff'),
       url('iconfont.ttf?t=1692692386316') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e85c";
}

.icon-lianjie:before {
  content: "\e8e1";
}

.icon-fanhui:before {
  content: "\e61e";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-xiangshang4:before {
  content: "\e795";
}

.icon-fuzhi:before {
  content: "\e622";
}

.icon-dengpao:before {
  content: "\e611";
}

.icon-ziti:before {
  content: "\e600";
}

.icon-tumblr:before {
  content: "\ec99";
}

.icon-yuanjiao-rect:before {
  content: "\e64e";
}

.icon-birdxiaoniao:before {
  content: "\e736";
}

.icon-snapchat:before {
  content: "\e646";
}

.icon-vimeo:before {
  content: "\e6b3";
}

.icon-Youtube-fill:before {
  content: "\e883";
}

.icon-instagram-fill:before {
  content: "\e88f";
}

.icon-yanse1:before {
  content: "\e886";
}

.icon-dianziweilan:before {
  content: "\e634";
}

.icon-n:before {
  content: "\e610";
}

.icon-Z-fenleidaohang:before {
  content: "\e72c";
}

.icon-gonggao:before {
  content: "\e731";
}

.icon-dianhua:before {
  content: "\e655";
}

.icon-rcd-drag:before {
  content: "\e60e";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-gouwudai:before {
  content: "\e603";
}

.icon-fuwenbenbianjiqi_dongxiao:before {
  content: "\e65b";
}

.icon-gouwudai1:before {
  content: "\e68c";
}

.icon-wenben:before {
  content: "\e60c";
}

.icon-zitibiankuang:before {
  content: "\e65d";
}

.icon-tongzhigonggao:before {
  content: "\e7ab";
}

.icon-daohang:before {
  content: "\e85a";
}

.icon-kuandu:before {
  content: "\e660";
}

.icon-shihekuandu:before {
  content: "\e69a";
}

.icon-sendGifts:before {
  content: "\e61d";
}

.icon-yuanjiao:before {
  content: "\e672";
}

.icon-fenzuguanli:before {
  content: "\ec23";
}

.icon-yanse:before {
  content: "\e678";
}

.icon-dingdan:before {
  content: "\e8ae";
}

